/* --------------------------Header---------------------------- */

.stickynavbar {
  background-color: #fff !important;
  z-index: 9999999999999;
  padding-top: 0 !important;
  box-shadow: 0 0 8px grey;
}
.sticky {
  position: fixed!important;
  top: 32px;
  width: 100%;
  padding-bottom: 0 !important;
}
.nav_wrap {
  clear:both;
  background-color: transparent;
  margin-bottom: 0em;
  z-index: 99;
}
.home.page-template .sticky .nav_wrap {
  padding-bottom: 0px;
}
#header {
  background-color: #f4f8ff;
}
#header .logo img {
  max-height: 123px;
  width: auto;
}
.menubar {
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}
.neseted-inner {
  top: 0;
  position: absolute;
}
.continnerbox {
  background-size: 100% 100%;
  color: #fff;
  border-top: 40px solid #435061;
  border-left: 60px solid transparent;
}
#header .logo, #footer .logo{
  margin:0; 
  text-align: center;
}
#header .logo {
  max-width: 200px;
}
.sticky .logo {
  top: -63px !important;
}
#header .logo a { 
  font-weight:700; 
  padding:0; 
  font-size:30px; 
  font-weight:bold; 
  margin-top: 0; 
}
.logo a.custom-logo-link { 
  color:#000000;
}
.logo a {
  color: #000;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "Lobster";
}
.logo p { 
  color: #000;
  margin-bottom: 0;
  font-size: 14px;
}
#header .top-contact {
  padding:12px 0; 
  font-size:15px;
}
.menubar .social-media {
  padding:12px 0; 
  text-align:center;
}
.scrolled {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 9999999;
  background:#fff;
}
#masthead.scrolled {
  background: #ccc;
}
#site-navigation {
    width: 100%;
}
.header-nav {
  border: 1px solid transparent;
  background: #fff;
  border-radius: 50px;
}
.home.page-template .main-header-box {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
}
/* ------------- Topbar ---------------- */

#topbar ul li {
  list-style: none;
}
#topbar ul li.icon {
  float: left;
}
#topbar li.title {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  font-weight: 700;
  font-family: "Source Sans Pro";
}
#topbar ul.right-side-content {
  margin: 0;
}
#topbar span i {
  font-size: 15px;
    color: #70bf4a;
    padding: 9px;
    transform: rotateZ(-45deg);
}
.daimond {
    border: 2px solid #ccc;
    margin: 0px 12px;
    border-radius: 8px;
    transform: rotate(45deg);
}
#topbar .topbar_section {
  padding: 10px 0;
}
#topbar li.content {
  font-size: 16px;
  line-height: 20px;
  color: #707070;
  font-weight: 400;
  font-family: "Source Sans Pro";
}
#topbar .socialbox i {
  padding-right: 15px;
}
#topbar .social {
  text-align: center;
}
#topbar a.facebook i {
  color: #3B5998;
}
#topbar a.insta i {
  color: #8a3ab9;
}
#topbar a.pintrest i {
  color: #E60023;
}
#topbar a.linkedin i {
  color: #0e76a8 ;
}
#topbar a.tumbler i {
  color: #34526f;
}
#topbar a.flicker i {
  color: #ffcc60;
}
#topbar a.vk i {
  color: #4376A6;
}
#topbar a.twitter i {
  color: #00ACEE;
}
#topbar a.pintrest i {
  color: #E60023;
}
#topbar a.youtube i {
  color: #FF0000;
}
#topbar .socialbox {
  padding-top: 7px;
}
.header_btn a {
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Source Sans Pro";
  text-align: center;
}
.header_btn {
  background: #70bf4a;
  position: relative;
  left: -75px;
  border: 1px solid transparent;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
}
.header_btn a:hover {
  color: #000;
}

/*----------------Menu bar-----------*/

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
  text-align: right;
}
.main-navigation ul{
  list-style: none;
  margin: 0;
  text-align: left;
}
.main-navigation li{
  position: relative;
  padding:12px 18px;
  display: inline-block;
}
.main-navigation li:last-child{
  border-right: none;
}
.main-navigation a{
  display: block;
  text-decoration: none;
  text-transform: none;
  padding: 0;
  letter-spacing: 0px;
  font-size: 15px;
  line-height: 26px;
  color: #000;
  font-weight: 400;
  font-family: "Source Sans Pro";
}
.main-navigation a:hover{
  color: #000;
}
.main-navigation ul ul{
  display: none;
  position: absolute;
  left: 0;
  top: 100% ;
  background: #F6F6F6;
  min-width: 215px;
  z-index: 9999;
}
.main-navigation ul ul ul{
  left: 100%;
  top: 0;
}
.main-navigation ul ul a{
  text-transform: none;
  font-weight: 400;
  color: #1e1d1c;
  font-size: 14px;
  line-height: 1.5;
}
.main-navigation ul ul li,
.menubar.scrolled .main-navigation ul ul li{
  float: none;
  display: block;
  text-align: left;
  border-bottom: 1px solid #cccccc;
}
.main-navigation ul ul li:last-child{
  border-bottom: 0;
}

.main-navigation ul li:hover > ul{
  display: block;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a{
  color: #70bf4a;
}

.main-navigation .menu > ul > li.highlight{
  background-color: #ffffff;
}

.main-navigation .menu > ul > li.highlight:hover{
  background: transparent;
}

.menubar.scrolled .menu > ul > li:hover > a:after,
.menubar.scrolled .menu > ul > li.current_page_item > a:after,
.menubar.scrolled .menu > ul > li.current-menu-item > a:after{
  height: 2px;
}

.menu > ul > li.exoplanet-search:after{
  background: transparent !important;
}

.main-navigation ul ul li:hover > a{
  color: #70bf4a;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation{
  margin: 0 0 15px;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous{
  float: left;
  width: 50%;
}

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
  float: right;
  text-align: right;
  width: auto;
}
.top_bar_btn a.theme_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.header-social-icon
{
  padding-top: 15px;
}
.header-social-icon .socialbox i
{
  color: #b2b2b2;
  font-size: 13px;
  padding-right:15px;
}
/*---------------- Footer Section ----------------------*/

#footer {
  background-color: #1c1c1c;
  background-repeat: no-repeat;
  background-size: cover;
}
.outer-footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#footer .socialbox i {
  color: #70bf4a;
  margin-right: 15px;
  font-size: 15px;
  margin-bottom: 14px;
  margin-top: 15px;
}
.outer-footer {
  background-size: 100% 100%;
 
}
#footer form.search-form{
  border: none;
  background: transparent;
  padding: 0;
}
#footer form.search-form input{
  float: none;
  border: 1px solid #fff;
  margin: 8px 0px;
}

#footer textarea{
  height: 100px;
}
#footer p.post-date {
    color: #ffffff;
    font-size: 11px !important;
}
.main_sociobox {
    padding: 20px 0;
}
#footer{ 
  color:#fff;
  text-align:left;
}
.footer-cols{
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer_hide{
  display:none;
}
#footer h3 {
  letter-spacing: 0px;
  font-weight: 700;
  padding:10px 0 25px 0;
  font-size: 22px;
  line-height: 25px;
  color: #919191;
  font-weight: 700;
  font-family: "Source Sans Pro";
  margin-bottom: 0;
}
#footer h4 {
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #919191;
  font-weight: 700;
  font-family: "Source Sans Pro";
  margin-bottom: 0;
}
#footer p {
  letter-spacing: 0px;
  font-size: 15px;
  line-height: 25px;
  color: #707070;
  font-weight: 400;
  font-family: "Source Sans Pro";
  margin-bottom: 0;
}
#footer .copyright p{
  font-size:14px;
  text-align:center;
  color:#ffffff;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 20px 0;
  margin-bottom: 0;
  font-family: "Source Sans Pro";
}
#footer .copyright a {
  color: #fff;
  cursor: pointer;
}
#footer span.credit_link a {
  color: #70bf4a!important;
}
#footer ul li{
  list-style:none;
  margin:0 0 5px 0;
  text-align:left;
  list-style-image: url(../images/arrow.png);
  color: #222222;
}
#footer ul li a{
  font-size: 15px;
  letter-spacing: 0px;
  color: #707070;
  font-weight: 700;
  font-family: "Source Sans Pro";
}
#footer #gallery-1 .gallery-item {
  width: 30%;
  margin: 4px;
}
.widget_recent_entries img {
  width: 100px;
}
.copyright{
  text-align: center;
  background-color: #000;
}
#footer .textwidget input[type="email"]
{
  border-radius: 40px;
  border:2px solid #9b9b9b;
}
#footer .textwidget input[type="submit"]
{
  background-color: transparent;
  border-radius: 40px;
  padding: 10px 20px;
  border:2px solid #9b9b9b;
  display: inline-block;
  margin-top: 10px;
  color: #9b9b9b;
  font-family: "Poppins"; 
}
#footer .widget td 
{
  padding-top: 0px !important;
}
#footer #site-navigation ul li a
{
  font-size: 15px;
  letter-spacing: 1px;
  color: #919191;
  font-family: "Roboto";
  font-weight: 500;
}
#footer #site-navigation ul li
{
  margin-right: 20px;
}
#footer #site-navigation
{
  text-align: center;
  border-bottom: 1px solid #292929;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 65px;
}
#footer .main-navigation li.current_page_item
{
  background-color: transparent;
}
#footer .footer-logo-box
{
  margin: 0 auto;
  display: block;
  position:absolute;
  top: -154px;
  left: 0;
  right: 0;
  background-color: #111111;
  padding: 20px 15px;
  max-width:180px;
  max-height: 180px;
  border-radius: 50%;
}
.footer1 img {
    border-radius: 10px;
    background: #ffffff;
    padding: 10px;
}
/*-------------------------- Calendar widget --------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.75em;
  table-layout: fixed;
  width: 100%;
}
.widget.widget_calendar table {
  margin: 0;
}
.widget.widget_calendar td, .widget.widget_calendar tr, .widget.widget_calendar th {
  border: 1px solid #fff;
  color: #000000;
}
#footer .widget.widget_calendar td, #footer .widget.widget_calendar tr, #footer .widget.widget_calendar th {
  color: #000;
  padding: 2px;
}
.widget_calendar td,
.widget_calendar th {
  line-height: 1.5625;
  padding: 0;
  text-align: center;
}
.widget_calendar caption {
  font-weight: 900;
  margin-bottom: 0em;
  color: #000;
  padding-left: 15px;
  caption-side: top;
}
.widget_calendar tbody a {
  background-color: #bbb;
  color: #000;
  display: block;
  font-weight: 700;
}
.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
  background-color: #686868;
  color: #fff;
}
.widget th,
.widget td {
  padding: 0.5384615385em;
}

/* ---------- Return to Top ------------ */

#return-to-top {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background:#70bf4a;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 99;
}
#return-to-top i {
  color: #fff;
  position: relative;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 3px 18px;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}